<div class="key_input_container">
  <h3 class="auth__title">AWS4 authorization</h3>
  <div class="auth__description">{{sanitize description}}</div>
  <div>
    <!--
    <div class="key_auth__field">
      <span class="key_auth__label">in:</span>
      <span class="key_auth__value">{{{escape x-in}}}</span>
    </div>
    -->
    <div class="key_auth__field">
      <span class="key_auth__label">Service:</span>
      <span class="key_auth__value">{{{escape x-service}}}</span>
    </div>
    <div class="key_auth__field">
      <span class="key_auth__label">Region:</span>
      <span class="key_auth__value">{{{escape x-region}}}</span>
    </div>
    <div>
      <span class="key_auth__label">Key ID:</span>
      {{#if isLogout}}
        <span class="key_auth__value">{{sanitize keyId}}</span>
      {{else}}
        <input required placeholder="Key ID" class="auth_input input_aws4_keyId_entry" name="keyId" type="text"/>
      {{/if}}
    </div>
    {{#unless isLogout}}
      <div>
        <span class="key_auth__label">Key:</span>
        <input required placeholder="Key" class="auth_input input_aws4_key_entry" name="key" type="password" />
      </div>
    {{/unless}}
  </div>
</div>
